*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.container {
  width: 350px;
  height: 200px;
  margin: 100px auto;
  background-color: red;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.content {
  display: flex;
  transition: transform 0.3s;
}

.content img {
  border-radius: 12px;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons i {
  color: #fff;
  padding: 6px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  cursor: pointer;
}

.icons i:hover {
  opacity: 0.7;
}
